.header {
  font-size: 2.4rem;
  color: var(--VaryLightGray);
}

.section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--BrightRed);
  padding: 50px 100px;
  border-radius: 50px;
  margin-bottom: 20px;
}

.lastBtn {
  background: var(--VaryLightGray);
  padding: 14px 32px;
  border-radius: 25px;
  color: var(--BrightRed);
  font-size: 14px;
}
