:root {
  --BrightRed: hsl(12, 88%, 59%);
  --DarkBlue: hsl(228, 39%, 23%);
  --DarkGrayishBlue: hsl(227, 12%, 61%);
  --VeryDarkBlue: hsl(233, 12%, 13%);
  --VeryPaleRed: hsl(13, 100%, 96%);
  --VaryLightGray: hsl(0, 0%, 98%);
}

body {
  font-size: 16px;
  background-color: #fff;
  overflow-x: hidden;
}

div[data-nextjs-scroll-focus-boundary] {
  height: 100%;
}
main {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin-top: 50px;
}
.container {
  display: grid;
  grid-template-columns: 1fr min(1440px, 94%) 1fr;
  grid-template-rows: 96px auto 200px;
}

.container > * {
  grid-column: 2;
}

.container > .fluid {
  grid-column: 1 / -1;
}
.section {
  display: flex;
  gap: 23%;
  justify-content: space-between;
}
