.header {
  font-size: 3.8rem;
}

.description {
  color: var(--DarkGrayishBlue);
  width: 356px;
}

.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}

.introBtn {
  background: var(--BrightRed);
  padding: 14px 32px;
  border-radius: 25px;
  color: var(--VaryLightGray);
  font-size: 14px;
  box-shadow: var(--BrightRed) 0px 7px 30px -10px;
  transition: ease-in-out 0.3s;
}

.introBtn:hover {
  background: hsla(12, 88%, 59%, 0.7);
}
